
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color :#2196f3;
    --text-color :#999;
    --main-shadow : 0 4px 10px rgba(0, 0, 0, 0.3)
}

.row{
    margin: 0;
    padding: 0;
}

span.heart,span.cart{
    font-size: 25px;

}
/* galary start*/
.galary ,.cards{
    margin: 50px 0;
}

.carousel-inner{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        padding: 10px;
        display: flex;
        align-items: center;

}
.carousel-item .row{
    justify-content: space-between;
}
.carousel-item img{
    border-radius: 50%;
    overflow: hidden;
}


.galary .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 10px;
    h3{
        /* height: 50px; */
        /* margin-bottom: 10px; */
        
    }
    p{
        /* color: var(--text-color); */
        /* height: 50px; */
        margin: 0;
        line-height: 15px;
    }
    span{
        
        font-size: 30px;
        font-weight: 700;
    }
}
.galary .text > span{
    color: var(--main-color);
}

.slider{
    padding-left: 0;
} 

.carousel-indicators button.active{
    background-color: var(--main-color);
}
.carousel-indicators button:not(.active){
    background-color: rgb(58, 47, 47);
}
.left {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* .text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    } */
    .img{
        width: 200px;
        height: 200px;
        margin:0 auto ;
    }
}

/* galary end*/


/* cards start */
.cards .item{
    box-shadow: var(--main-shadow);
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,minmax(300px,1fr));
    gap: 20px;
    .item{
        width: 100%;
        height: 100%;
        padding: 20px;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        h3{
            line-height: 28px;
        }
        p{
            line-height: 15px;
        }
    }
}
.action{
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        span{
        color: var(--main-color);
        font-size: 30px;
        font-weight: 700;
    }
    div span{
        font-size: 25px;
        color: black
    }
}
/* .price{
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
} */

/* cards end */


@media (max-width:991px) {

    .galary{margin: 20px 0;}
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    .slider{
    padding: 0;
} 

}
/* wrapper start */
.main-wrapper {
    width:100%;
    overflow: hidden;
}
.hot-deals-wrapper{
    position: relative;
    margin-bottom: 30px;
}
.section-title{
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px 4px 0 0;
    position: relative;
}
.hot-deals-wrapper::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #2196f3;
}
.products{
    display:flex;
    gap:1%;
    /* overflow-x:auto; */
    /* scroll-behavior: smooth;  */
    /* transform: translate(); */
    transition: 1s;
}
.card{
    background:#fff;
    border:1px solid #ddd;
    border-radius:6px;
    padding:15px;
    position:relative;
    flex: 0 0 auto;
    width: calc(98%/3);
     transition: 1s;
}
@media (max-width:991px) {
    .card{
        width: 100%;
    }
}
.products::-webkit-scrollbar {
    height: 6px;
}
.discount{
    position:absolute;
    top:15px;
    right:15px;
    background:red;
    color:#fff;
    font-size:13px;
    font-weight: bold;
    padding:4px 6px;
}
.card img{
    width:100%;
    height:150px;
    object-fit:contain;
    margin-bottom:10px;
    transition:.3s;
}
.card img:hover{
    transform: scale(1.1);
}
.stars{
    color:#ff9800;
    margin-bottom:5px;
}
.card h4{
    font-size:16px;
    margin-bottom:8px;
    height:40px;
}
.price{
    justify-content: space-between;
}
.new-price{
    font-weight:bold;
    color:#2196f3;
}
.old-price{
    text-decoration:line-through;
    color:#888;
    font-size:13px;
    margin-left:8px;
}
.buttons{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.add-cart{
    background:#2196f3;
    color:#fff;
    border:none;
    padding:6px 10px;
    cursor:pointer;
    font-size:20px;
    transition:.3s;
}
.add-cart:hover{
    transform: scale(1.1);
    background:#186db3;
}
.wishlist{
    border:1px solid #ddd;
    padding:6px;
}
.wishlist:hover{
    transform: scale(1.1);
    background:#2196f3;
    color: white;
}
.banners {
    justify-content: space-between;
}
.banner {
    overflow: hidden;
    border-radius: 5px;
}
.banner img {
    width: 100%;
    height: 200px;   
    padding-top: 25px;
}
/* wrapper end */
.heart.active,.cart.active{
    color: var(--main-color);
}
.cart ,.heart{
    cursor: pointer;
    transition: 0.3s;
}

.item .img{
    overflow: hidden;
}
.item img{
    transition: 0.5s;
}
.item:hover img{
    transform: scale(1.1);
}
.cart:hover ,.heart:hover{
    color: var(--main-color);
    transform: translateY(-5px);
    
}